extends layout

block content
  h1.headLine Your Account!

  h2 User Information
  p Email:      #{user.email}
  p Data:       #{user.data}
  //p challenges: #{user.solvedChallenges}
  //each challenge, i in user.solvedChallenges
  //  div.challenge #{challenge.title} Difficulty: #{challenge.difficulty}
  //  a(href="/challenge/#{challenge._id}") #{challenge.title}